# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT_EXPOSED=5433
DB_NAME=tinylynx

# Server Configuration
PORT=8080

# Optional: Custom domain for short links
# SHORT_DOMAIN=localhost:8080